:root {
    --primary-blue: #5995fd;
    --p-darker-blue: #4d84e2;
    --p-light-blue: #04befe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* utilizando a unidade medida relativa "rem", para que a fonte 
aumente ou diminua de acordo com a resoulção da tela, similar a vh que aprendemos 
na aula de algoritmo
 */

/* font-weight é o peso da fonte, exemplos: 
900 - extra-bold (poucas fontes tem)
800 - bold
600 - semi-bold
400 - regular (padrão) 
300 - light 
200 - lighter 
100 - etra-light
*/

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--p-darker-blue), var(--p-light-blue));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    /*De modo que só apareça um formulário por vez, o container é uma grid com uma coluna*/
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*divide essa única coluna entre duas linahs vertical e horizontalmente para que os formulários fiquem
    um em cima do outro */
}

form.sign-in-form {
    z-index: 2;
    /* usando um z-index superior ao do formulário de cadstro 
    forçamos o formulário de login a sobrepor tudo que está em baixo*/
}

form.sign-up-form {
    z-index: 1;
    opacity: 0;
    /*Opacity é definida como 0 para esconder o formulário, que agora está em baixo do de login*/
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    color: #333;
    font-size: 1.1rem;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    background-color: var(--primary-blue);
    transition: .5s;
}

.btn:hover {
    background-color: var(--p-darker-blue);
}

.social-text {
    color: #333;
    padding: .7rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover {
    color: var(--p-darker-blue);
    border-color: var(--p-darker-blue);
}