body {
    background-color: rgb(226, 226, 226);
    font-family: 'Ubuntu', sans-serif;
}

.Caixa {
    background-color: rgb(226, 226, 226);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 200px;
    text-align: center;
    height: 300px;
}

.Contato{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.Contato h1 {
    color: #403866;
}

.Contato input {
    margin-bottom: 40px;
    border: none;
    border-radius: 31px;
    outline: none;
    width: 400px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(104, 104, 104);
}

.Contato input:focus {
    width: 450px;
    transition: 0.5s;
}

::placeholder {
    color: rgb(104, 104, 104);
}

.Contato button {
    margin-top: 40px;
    border: 2px solid #827ffe;
    background: #827ffe;
    color: white;
    width: 130px;
    height: 50px;
    outline: none;
    border-radius: 31px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.Contato button:hover {
    width: 150px;
    border: 2px solid white;
    background: white;
    color: blueviolet;
}

textarea {
    outline: none;
    border: none;
    border-radius: 31px;
    text-align: center;
    color: rgb(104, 104, 104);
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 420px;
}


textarea:focus {
    width: 480px;
    transition: 0.5s;
}