* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 
.img_home {
    width: 100%;
    height: 530px;
}



 */

.bg-container {
    background: url(../img/test1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    /* a unidade de medida vh significa viewer height, ele pega altura do monitor */
    top: 0;
    display: flex;
    /* display flex ajuda a posicionar os elementos no centro de forma responsiva */
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: -5;
    /* z-index negativo permite sobrepor elementos no canal alpha */
}

.img_home_text {
    width: fit-content;
    color: white;
    text-align: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    /* deixa os elementos um em baixo do outro */
    justify-content: center;
    align-items: center;
}

.div_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Eu deifini o flex-direction para ficar em linha por padrão, 
    mas a propriedade flex-wrap faz com que ele se ajuste para coluna 
    em resoluções menores */
    justify-content: center;
}

.btn_left {
    background-color: #00A1D7;
}

.btn_right {
    background-color: #CC0099;
}

.btn_left, .btn_right {
    padding: 13px;
    margin: 10px;
    font-size: medium;
    width: 200px;
    color: white;
    border: none;
    border-radius: 3px;
}

.btn_right:hover {
    cursor: pointer;
    background-color: #b8008a;
}

.btn_left:hover {
    cursor: pointer;
    background-color: #0095c7;
}

.boxes {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes_item {
    margin: 15px 5px;
    width: 300px;
    height: 300px;
    background-color: rgb(189, 189, 189);
    border-radius: 2px;
}